# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.venv/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env

# Editor
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
